# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.*
*.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# SQLite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Coverage reports
.coverage
htmlcov/

# pytest
.pytest_cache/
